body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-toggle .button-label {
    display: inline-block;
    float: left;
    font-weight: bold;
    line-height: 14px;
    padding-right: 10px;
}
.button-bars {
    display: inline-block;
    float: left;
}

