<section class="bar background-pentagon no-mb">
  <div class='container'>
<div class='row'>
  
  <div class='col-sm-4' style='padding:2px'>
    <div class="card" style="background-color:white;padding-left: 10px;padding-right: 10px;">

        <h5 class="card-title">Special title treatment</h5>
        Visible data has over 6 years experience in designing and delivering hands-on public training courses.
        <br/>
        We focus on designing training examples that are as realistic as possible and cover as broad a knowledge domain as possible.
        <a href="#" class="btn btn-primary">Go somewhere</a>

    </div> 
</div>

  <div class='col-sm-4' style='padding:2px'>
    <div class="card" style='background-color:white;'>
      <div class="card-body .bg-light">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
</div>

  <div class='col-sm-4' style='padding:2px'>
    <div class="card" style='background-color:white;'>
      <div class="card-body .bg-light">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
</div>
  
  
</div>
  </div>
</section>